<p>
  <mat-toolbar>
   
  <span>Car DealerShip</span>
  <span class="fill-remainig-space"></span>

  <a routerLink="cars">
    <button mat-button color="warn">Cars List</button>
  </a>
  
</mat-toolbar>
</p>

<router-outlet></router-outlet>
