/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fill-remainig-space{
    flex: 1 1 auto;
}
.active{
    border: 1px solid #f5f5f5;
}